//
//  Release.xcconfig
//  DummyPlugin
//
//  Created by Daniel on 16/07/2019.
//  Copyright © 2019 Daniel. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Common.xcconfig"

// Map of all signing identities, entries are separated by a semicolon.
// Every entry is a pair of zip file suffix (like -apple-dev) and signing identity name (like Apple Development)
// Note: to make an archive without a codesigned framework at all, use special signing identity 'None' (eg -not-signed:None)
CODESIGNING_IDENTITES_MAP=-apple-dev:Apple Development;-apple-dist:Apple Distribution;-devid:Developer ID Application;-not-signed:None

// If only one identity is expected to be in play just use it (suffix will be skipped)
//CODESIGNING_IDENTITES_MAP=Apple Development
